<div class="jumbotron masthead">
    <h1>Welcome!</h1> <h3>Please sign up for an account</h3>
</div>
<div class="row">
    <div class="span6" style="margin-top : 30px">
        

          <!-- 

            TODO Make the form work with AngularJS without using JQuery 
                - Get the selected values into the user model in the controller JavaScript (signup.js).
                - Make the 'Subscibe to music newsletter' option default.
                - Make the form disabled once user has signed up. 

                - Show an alert when user has signed up
                - Show a link to the awesome content after user has signed up
        --> 

        <form class="form-horizontal well">
            <fieldset>
            <legend>User registration</legend>
                <div class="control-group">
                    <label class="control-label" for="name">Username : </label>
                    <div class="controls">
                        <input id="name" placeholder="Type your name" required autofocus>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Gender : </label>
                    <div class="controls">
                        <select >
                        <option>Male</option>
                        <option>Female</option>
                        </select>
                    </div>
                </div>
            
            <div class="control-group">
                <label class="control-label" for="name">Music : </label>
                <div class="controls">
                    <select multiple >
                        <option>Pop</option>
                        <option>Rock</option>
                        <option>Classical</option>
                        <option>Jazz</option>
                    </select>
                </div>
                <div class="controls muted">
                    <label  class="checkbox">
                        <input type="checkbox" > Subscribe to music newsletter
                    </label>
                </div>
            </div>    
            <div class="control-group">
                 <div class="controls">
                    <input class="btn btn-primary" type="submit" class="btn" value="Sign me up" >    
                </div>
            </div>
            </fieldset>
        </form>
    </div>
    
    <div class="span4 well" style="margin-top : 30px;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>    
        <p>
            Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
            pariatur. 
        </p>
          
        <p class="muted">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
  
    </div>
   
   <!-- TODO Hide this until user has registred --> 
       <div class=" span4 alert alert-block" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><strong>Thank you! </strong></p>You are now one of us.
    </div>
</div>

<!-- TODO Hide this until user has registred --> 
<div class="row">
    <div class="offset1">
       <h2><a href="#/awesome">Now click here to view some awesome stuff!!</a></h2> 
    </div>
</div>


