form {
   text-align: center;
    margin-top:50px;
    margin-bottom:20px;
}

img {
	height: 261px;
	width: 261px;
}

input.form-control {
	width: 260px;
}

.container {
	margin-left: 30px;
	margin-top: 50px;
}